@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 20px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
body h1{
    color: chocolate;
}

.card-body {
    background-color: #dfe4ea;
}
.single img{
    width: 100%;
    border-radius: 10px;
}